body{
  font-family: Lato, Helvetica, sans-serif;
}
small{
  color: black;
}
.jumbotron {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.btn{
	background-color: orange; 
}
.nav-menu{
	margin: 10px;
	color: white;
}
header{
  /*position: absolute;*/
  color: white; 
  width: 100vw;
  height: 45vh;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=581511fae3d6e46d55eb0b6f3d86b69d&auto=format&fit=crop&w=1050&q=80);
  /*background-color: orange;*/
}


#section01 a span {
  position: absolute;
  top: 35vh;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}


.fa {
  /*padding: 20px;*/
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

