body{
  font-family: 'Roboto', sans-serif;
}
p{
  color: grey;
}
small{
  color: grey;
}
.jumbotron {
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.btn{
  color: white;
	background-color: orange; 
}
.nav-menu{
	margin: 10px;
	color: white;
}
header{
  /*position: absolute;*/
  color: white; 
  width: 100vw;
  height: 45vh;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=581511fae3d6e46d55eb0b6f3d86b69d&auto=format&fit=crop&w=1050&q=80);
  /*background-color: orange;*/
}
.jumbotron{
  background-color: white;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  }

#section01 a span {
  position: absolute;
  top: 35vh;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}


.fa {
  /*padding: 20px;*/
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}
@media only screen and (min-width: 700px){
  .laptop{
    margin-left: 10vw;
  }
  .float-kanan{
      float: right !important;
  }
}

@media only screen and (max-width: 600px) {
    small{
      font-size: 9px;
    }
    h1 {
        font-size: 20px;
    }
    h2{
      font-size: 15px;
    }
    h6{
      font-size: 13px; 
    }/*
    .col{
      column-width: 320px;
    }*/
    .row {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0.5em;
      column-width: 100vw;
      /*grid-row-gap: 100px;*/
    }
    p{
      font-size: 11px;
    }
    .float-right{
      float: left !important;
    }
    .float-kanan{
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
    }
    .btn{
      border: 0;
      line-height: 1;
      padding: 0.15rem 1rem;
    }
    .eachOportunity{
      margin-bottom: 0;
    }
}