<footer class="container container-fluid row ">

  <div class="col col-1"></div>
  <p href="" class="col-sm-auto">
  	<small>Made with love from Indonesia &copy; Kulina, 2018. All rights reserved.</small>
  </p>
  <p class="col float-kanan">
    <span><a href="#" class="fa fa-instagram float-kanan"></a></span>
    <span><a href="#" class="fa fa-linkedin float-kanan"></a></span>
    <span><a href="#" class="fa fa-twitter float-kanan"></a></span>
    <span><a href="#" class="fa fa-facebook float-kanan"></a></span>
  </p>
  <div class="col col-1"></div>

</footer>
