{% extends "base.html" %}

{% block content %}
	<!-- <h2 class="mx-auto">Ea</h2> -->
	<div class="container container-fluid row">
		<div class="col-1"></div>
		<div class="col-lg-auto col-sm-auto">
			<h2>
				<strong>What We Do</strong>
			</h2>
		</div>
		<div class="col laptop">
			<p>
				{{desc.description|linebreaks}}
			</p>
		</div>
		<div class="col-1"></div>

	</div>
	<div class="container container-fluid row">
		<div class="col col-1"></div>
		<div class="col-sm-auto">
			<h2>
				<strong>		
					Explore Opportunities
				</strong>
			</h2>
		</div>
		<div class="col">
			{% for data in dataOps%}
			<div class="jumbotron row">
				<div class="col-9">
					<strong>						
						<h6>{{data.title}}</h6>
					</strong>
						<div>
							{% for datat in dataTag %}
							<span>
								<small>{{datat.name}} .</small>
							</span>
							{% endfor %}
						</div>
						
				</div>
				<div class="col-md-auto">
					<a href="https://www.kulina.id/jobs/engineer" class="float-right">
						<button class="btn btn-warning btn-lg">
							<h6>
								Apply
							</h6>
						</button>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col col-1"></div>
	</div>
{% endblock %}