<header>		
	<nav class="navbar navbar-expand-lg navbar-dark">
	  <a class="navbar-brand" href="#">Kulina</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">About Us</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Careers</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Internship</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="row align-items-center h-100">	
			<h1 class="mx-auto d-block">Join an Impact Company</h1>
			<section id="section01" class="demo">
			  <a href="#section02"><span></span></a>
			</section>
	</div>
</header>
